# Data Sourcing One-Liners

To simplify the retrieval of data from the API, I have bundled a set of simple functions for retrieving each type of data from the live data API.

In [1]:
from dakar_rallydj.getter import get_category

get_category()

,kmGoal,promotionalDisplay,reference,mapDisplay,lastStage,position,updatedAt,shortLabel,refueling,liveDisplay,...,_origin,_id,_key,_updatedAt,_parent,isPointCat,ar,en,es,fr
1,NaN,True,2025-A,True,12,3,2025-01-06T12:11:14+01:00,cat.name.A,1,True,...,category-2025,63b4f5da4591200d0a4cc239245eb03a,label,1736183714366,millesime:28a3b2a601a2028494b004bb95233853,NaN,سيارات,Car,Coche,Auto
0,1000.0,True,2025-F,True,12,8,2025-01-06T12:12:00+01:00,cat.name.F,0,False,...,category-2025,0a0fb4dfc03bcb6b0e9c940b5a09ae05,label,1736183714366,millesime:28a3b2a601a2028494b004bb95233853,1.0,DAKAR FUTURE MISSION 1000,DAKAR FUTURE MISSION 1000,DAKAR FUTURE MISSION 1000,DAKAR FUTURE MISSION 1000
2,NaN,True,2025-K,True,12,7,2025-01-06T12:11:52+01:00,cat.name.K,0,False,...,category-2025,b0b0b0087d69431d87d04800e254c7c3,label,1736183714366,millesime:28a3b2a601a2028494b004bb95233853,1.0,Classic,Classic,Classic,Classic
3,NaN,True,2025-M,True,12,0,2025-01-05T20:25:31+01:00,cat.name.M,1,True,...,category-2025,e377e0f7b61dcf8217845dc4fac8cc5d,label,1736183714366,millesime:28a3b2a601a2028494b004bb95233853,NaN,دراجة,Bike,Moto,Moto

In [2]:
from dakar_rallydj.getter import get_groups
get_groups().head()

,shortLabel,promotionalDisplay,reference,tinyLabel,position,label,_bind,_origin,_id,_parent,color,ar,en,es,fr
8,cat.name.A_T1,True,2025-A-T1,ULT,0,T1,allGroups-2025,categoryGroup-2025-A,b49155b3f5670d2a907aa01e319876b8,category-2025:63b4f5da4591200d0a4cc239245eb03a,#EBBC4E,Ultimate,Ultimate,Ultimate,Ultimate
7,cat.name.A_T2,True,2025-A-T2,STK,1,T2,allGroups-2025,categoryGroup-2025-A,4dac064bf100bc806b91e7f2e7758297,category-2025:63b4f5da4591200d0a4cc239245eb03a,#C7C9C7,Stock,Stock,Stock,Stock
5,cat.name.A_T3,True,2025-A-T3,CHG,4,T3,allGroups-2025,categoryGroup-2025-A,15f329900afa29e3e6b099ae681ebe12,category-2025:63b4f5da4591200d0a4cc239245eb03a,#E04E39,Challenger,Challenger,Challenger,Challenger
6,cat.name.A_T4,True,2025-A-T4,SSV,5,T4,allGroups-2025,categoryGroup-2025-A,423ea731fdcba5cda62c8334985889b0,category-2025:63b4f5da4591200d0a4cc239245eb03a,#A7C6ED,SSV,SSV,SSV,SSV
9,cat.name.A_T5,True,2025-A-T5,TRK,6,T5,allGroups-2025,categoryGroup-2025-A,f1a437ac1135c9d9a5e33f5096f95259,category-2025:63b4f5da4591200d0a4cc239245eb03a,#2D2926,شاحنة,Truck,Camión,Camion

In [1]:
from dakar_rallydj.getter import get_clazz
get_clazz().head()

,position,label,refueling,promotionalDisplay,shortLabel,reference,_bind,_id,_parent,$group,tinyLabel,color,ar,en,es,fr
10,4,+,0,True,cat.name.A_T1_+,2025-A-T1-+,allClazz-2025-A,96c0869600e0013dbf5f86f60e5c4da4,categoryGroup-2025-A:b49155b3f5670d2a907aa01e3...,categoryGroup-2025-A:b49155b3f5670d2a907aa01e3...,NaN,NaN,T1+: Prototype Cross-Country Cars 4x4,T1+: Prototype Cross-Country Cars 4x4,T1+: Prototype Cross-Country Cars 4x4,T1+ : Voitures Tout-terrain Prototypes 4x4
13,0,1,0,True,cat.name.A_T1_1,2025-A-T1-1,allClazz-2025-A,f666973e89db183ecfefc75c3af8ffb1,categoryGroup-2025-A:b49155b3f5670d2a907aa01e3...,categoryGroup-2025-A:b49155b3f5670d2a907aa01e3...,NaN,NaN,T1.1 Prototype Cross-Country Cars 4x4,T1.1 Prototype Cross-Country Cars 4x4,T1.1 Prototype Cross-Country Cars 4x4,T1.1 : Voitures Tout-terrain Prototypes 4x4
11,1,2,0,True,cat.name.A_T1_2,2025-A-T1-2,allClazz-2025-A,f00d7ec8d2d96e9cf11aa515109376cf,categoryGroup-2025-A:b49155b3f5670d2a907aa01e3...,categoryGroup-2025-A:b49155b3f5670d2a907aa01e3...,NaN,NaN,T1.2 Prototype Cross-Country Cars 4x2,T1.2 Prototype Cross-Country Cars 4x2,T1.2 Prototype Cross-Country Cars 4x2,T1.2 : Voitures Tout-terrain Prototypes 4x2
12,2,3,0,True,cat.name.A_T1_3,2025-A-T1-3,allClazz-2025-A,f071b5dbfd586a4ba46100196a98a9c4,categoryGroup-2025-A:b49155b3f5670d2a907aa01e3...,categoryGroup-2025-A:b49155b3f5670d2a907aa01e3...,NaN,NaN,T1.3 FIA: النتيجة,T1.3: SCORE,T1.3 : SCORE,T1.3 : SCORE
9,3,U,0,True,cat.name.A_T1_U,2025-A-T1-U,allClazz-2025-A,1501ebcbaf3ad27e72aecfba7faa8037,categoryGroup-2025-A:b49155b3f5670d2a907aa01e3...,categoryGroup-2025-A:b49155b3f5670d2a907aa01e3...,NaN,NaN,"T1.U: ""Ultimate"" Prototype Cross-Country Cars","T1.U: ""Ultimate"" Prototype Cross-Country Cars","T1.U: ""Ultimate"" Prototype Cross-Country Cars","T1.U : Voitures Tout-Terrain Prototypes ""Ultim..."

In [1]:
from dakar_rallydj.getter import get_withdrawals

withdrawals_df, withdrawn_competitors_df, withdrawn_teams_df = get_withdrawals()

In [2]:
withdrawals_df.head()

    stage  bib reason        name
39      2  223      1     L. SANZ
40      2  223      1   M. GERINI
41      2  426      1    C. VENTO
42      2  426      1  J. BRANDAO
31      3  225      1    C. SAINZ

In [3]:
withdrawn_competitors_df.head()

,bib,name,firstName,lastName,role,gender,nationality,profil,profil_sm,podium,aid
0,208,B. VANAGAS,BENEDIKTAS,VANAGAS,P,m,ltu,https://img.aso.fr/core_app/img-motorSports-da...,https://img.aso.fr/core_app/img-motorSports-da...,https://img.aso.fr/core_app/img-motorSports-da...,77735d6e-4d5a-421d-8a32-0b3f21629f04
1,208,S. GOSPODARCZYK,SZYMON,GOSPODARCZYK,C,m,pol,https://img.aso.fr/core_app/img-motorSports-da...,https://img.aso.fr/core_app/img-motorSports-da...,https://img.aso.fr/core_app/img-motorSports-da...,ff266183-f351-48e2-bac0-d6736f542370
15,219,F. LURQUIN,FABIAN,LURQUIN,C,m,bel,https://img.aso.fr/core_app/img-motorSports-da...,https://img.aso.fr/core_app/img-motorSports-da...,https://img.aso.fr/core_app/img-motorSports-da...,c640056a-79d0-4454-8e6a-c8b303620020
14,219,S. LOEB,SEBASTIEN,LOEB,P,m,fra,https://img.aso.fr/core_app/img-motorSports-da...,https://img.aso.fr/core_app/img-motorSports-da...,https://img.aso.fr/core_app/img-motorSports-da...,5dd0184f-5f90-4b42-b675-88d6501b9965
39,223,L. SANZ,LAIA,SANZ,P,w,esp,https://img.aso.fr/core_app/img-motorSports-da...,https://img.aso.fr/core_app/img-motorSports-da...,https://img.aso.fr/core_app/img-motorSports-da...,13cef464-d1c7-4d57-9477-359ce88ab472

In [4]:
withdrawn_teams_df.head()

,team.bib,team.brand,team.model,team.vehicle,team.vehicleImg,team.clazz,team.w2rc
0,208,TOYOTA,HILUX,GURTAM TOYOTA GAZOO RACING BALTICS,https://img.aso.fr/core_app/img-motorSports-da...,96c0869600e0013dbf5f86f60e5c4da4,False
7,219,DACIA,SANDRIDER,THE DACIA SANDRIDERS,https://img.aso.fr/core_app/img-motorSports-da...,96c0869600e0013dbf5f86f60e5c4da4,True
19,223,CENTURY,CR6-T,CENTURY RACING FACTORY TEAM,https://img.aso.fr/core_app/img-motorSports-da...,f00d7ec8d2d96e9cf11aa515109376cf,False
15,225,FORD,RAPTOR,FORD M-SPORT,https://img.aso.fr/core_app/img-motorSports-da...,96c0869600e0013dbf5f86f60e5c4da4,True
8,236,MD,OPTIMUS,MD RALLYE SPORT,https://img.aso.fr/core_app/img-motorSports-da...,f00d7ec8d2d96e9cf11aa515109376cf,False

In [1]:
from dakar_rallydj.getter import get_waypoints

get_waypoints().head()

,kilometerPoint,checkpoint,code,kilometerPointDisplay,id,hidden,isCHR,isBRP,isASG,isLBL,groups,Year,stage,Category,stage_code
11,0.00,0,012DS,0.0,125110,False,False,False,False,False,None,2025,1,A,waypoint-2025-A-1
0,38.83,1,01207,39.0,125111,False,True,False,False,False,None,2025,1,A,waypoint-2025-A-1
1,91.04,2,01216,92.0,125112,False,True,False,False,False,None,2025,1,A,waypoint-2025-A-1
2,121.18,3,01218,122.0,125113,False,True,False,False,False,None,2025,1,A,waypoint-2025-A-1
3,150.72,4,01220,151.0,125114,False,True,False,False,False,None,2025,1,A,waypoint-2025-A-1